In [1]:
import requests
import json
import pandas as pd

In [ ]:


# # Google Apps Script Web App URL
# url = "https://script.google.com/macros/s/AKfycbwyP9x-mjl2wu8hYRP0Ctyep2BN4VDLmL9czfR-DoH2gi0JebPG-6M2v2SMuVWE0C_yDw/exec"
# url = 'http://127.0.0.1:5000/submit-stock'
# # JSON payload
# payload ={'State': 'Chhattisgarh', 'SS_Name': 'Agarwal Enterprises', 'DB_Name': 'Agarwal corpo.', 'Month': '2025-05', 'stocks': [{'Category': 'Bis', 'Item': 'Product A', 'Mrp': 100, 'Opening': '1238', 'Closing': '90'}, {'Category': 'Bis', 'Item': 'Product B', 'Mrp': 200, 'Opening': '0', 'Closing': '8'}, {'Category': 'Conf', 'Item': 'Product A', 'Mrp': 20, 'Opening': '78', 'Closing': '0'}, {'Category': 'Conf', 'Item': 'Product B', 'Mrp': 20, 'Opening': '8', 'Closing': '0'}]}

In [ ]:
# # Send POST request
# response = requests.post(url, json=payload)

# # Print response
# print("Status Code:", response.status_code)
# print("Response Text:", response.text)

## Data Csv to Json

In [ ]:
#df = pd.read_csv('Data/db.csv')
df1 = pd.read_excel('Data/sku_master.xlsx',sheet_name='sku_master')

In [ ]:
df1.sort_values(by=['Category','Item_list','Mrp'],inplace=True)
df1.to_json('Data/sku_master.json')

In [ ]:
df1

In [ ]:
# df2 = pd.read_json('Data/sku_master.json') 
# df2

In [2]:
df_ex = pd.read_excel('Data/db-excel.xlsx',sheet_name='selected')

In [3]:
df_ex.columns

Index(['STATE NAME', 'ASM Name', 'SS Code', 'SS NAME', 'SS TOWN', 'Dist. Code',
       'Dealer Name (As Per GST)', 'District Name', 'Town Name',
       'Distance KM's From SS Point', 'DB GST Number',
       'DB Contact Person Name', 'DB Contact Person Mob Number',
       'DB Complete Postal Address', 'DB PIN Code', 'DB Email ID', 'DB Status',
       'SR Name', 'Password', 'Responsble Person', 'Designation'],
      dtype='object')

In [4]:
df_ex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATE NAME                    616 non-null    object
 1   ASM Name                      616 non-null    object
 2   SS Code                       616 non-null    object
 3   SS NAME                       616 non-null    object
 4   SS TOWN                       616 non-null    object
 5   Dist. Code                    556 non-null    object
 6   Dealer Name (As Per GST)      616 non-null    object
 7   District Name                 606 non-null    object
 8   Town Name                     587 non-null    object
 9   Distance KM's From SS Point   511 non-null    object
 10  DB GST Number                 476 non-null    object
 11  DB Contact Person Name        526 non-null    object
 12  DB Contact Person Mob Number  548 non-null    object
 13  DB Complete Postal Address    550 non-null    object
 14  DB PIN Code                   535 non-null    object
 15  DB Email ID                   439 non-null    object
 16  DB Status                     614 non-null    object
 17  SR Name                       614 non-null    object
 18  Password                      616 non-null    int64
 19  Responsble Person             403 non-null    object
 20  Designation                   403 non-null    object
dtypes: int64(1), object(20)
memory usage: 101.2+ KB

In [5]:
df_ex1 = df_ex.rename(columns={
    'STATE NAME':'State',
    'SS NAME':'SS Name',
    'Dealer Name (As Per GST)':'DB Name',
    'Cross Checking':'Password'
})

In [6]:
df_ex1 = df_ex1[['State', 'SS Name', 'DB Name', 'Password']]

In [7]:
df_ex1= df_ex1.dropna()

In [8]:
df_ex1['Password'] = df_ex1['Password'].astype(int)
df_ex1['State'] = df_ex1['State'].astype(str)
df_ex1['SS Name'] = df_ex1['SS Name'].astype(str)
df_ex1['DB Name'] = df_ex1['DB Name'].astype(str)

In [9]:
df_ex1.sort_values(by=['State', 'SS Name', 'DB Name', 'Password'],inplace=True)

In [10]:
# Create nested dictionary with password at DB level
nested = {}

for _, row in df_ex1.iterrows():
    state = row['State']
    ss = row['SS Name']
    db = row['DB Name'] # DB Name
    pwd = row['Password']

    state_dict = nested.setdefault(state, {})
    ss_dict = state_dict.setdefault(ss, {})
    db_dict = ss_dict.setdefault(db, {"password": pwd})


# Save
with open("Data/db.json", "w") as f:
    json.dump(nested, f, indent=4)